@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap');

*{
  box-sizing: border-box;
}

body {
  background-color: #fcde67;
  color: rgb(51, 40, 40);
  font-family: 'Mochiy Pop P One', sans-serif;
  margin: 0;
}
